@model IEnumerable<BarcodeGenerator.Domain.Entities.InventoryVoucherSerialNumber>

@{
    ViewData["Title"] = "Serial Numbers";
}

<div class="alert alert-dark" role="alert">
    Serial Number List
    
    <a class="btn btn-link" asp-controller="BarcodeReport" asp-action="Index" asp-route-id="@ViewData["Id"]">Print All</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Serial Number</th>
            <th>Print Counter</th>
        </tr>
    </thead>
    <tbody>
        @{
            int rowNumber = 1;

            foreach (var item in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@item.SerialNumber</td>
                    <td>@item.PrintCounter</td>
                </tr>

                rowNumber++;
            }
        }
    </tbody>
</table>